.header {
  z-index: 1;
}
.img {
  object-fit: contain;
}
.divider {
  width: 1px;
  height: inherit;
  background-color: rgb(8, 8, 8);
}
.pageButton {
  color: white;
}
.selectedPageButton {
  background-color: #585051;
  color: black;
}

.mediaVectors {
  object-fit: contain;
  cursor: pointer;
}

.contactMeButton {
  background-color: black;
  color: white;
  border: white;
  height: 55px;
  width: 200px;
}

.contactMeButton:hover {
  background-color: black;
  border: white;
}
