.img {
  object-fit: contain;
}
.backgroundColor {
}
.divider {
  width: 1px;
  height: inherit;
  background-color: rgb(8, 8, 8);
}
.pageButton {
  color: black;
}

.mediaVectors {
  object-fit: contain;
}
.blue {
  margin-left: 20px;
  margin-right: 20px;
}
.contactMeButton {
  background-color: black;
  color: white;
  border: white;
  height: 45px;
  width: fit-content;
}

.contactMeButton:hover {
  background-color: black;
  border: white;
}
.back {
}
