@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=M+PLUS+Code+Latin:wdth,wght@100,300;102.2,381&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin:wght@600&display=swap");
.contai {
  background-image: url("/Chaimae\ \(7\).png");
  height: 800px;
  width: 1440px;
  background-repeat: unset;
}
.title {
  font-style: "Bebas Neue", cursive;
  font-family: "M PLUS Code Latin", sans-serif;
  font-weight: 530;
  font-size: 45px;
}
.subTitle {
  font-family: "M PLUS Code Latin", sans-serif;
  font-weight: 600;
  font-size: 45px;
  color: #ffdd04;
}
.content {
  margin-left: 220px;
}
.paragraph {
  font-family: "M PLUS Code Latin", sans-serif;
  line-height: 30px;
  color: rgb(122, 126, 126);
}
.sTitle {
  font-weight: 600;
}
.cardsTitle {
  font-style: "Bebas Neue", cursive;
  font-family: "M PLUS Code Latin", sans-serif;
  font-weight: 530;
  font-size: 17px;

  margin-bottom: 10px;
}
.cardsParagraph {
  font-family: "M PLUS Code Latin", sans-serif;
  font-size: 14px;
  color: rgb(122, 126, 126);
}
