.vertical {
  writing-mode: vertical-lr;
  text-orientation: mixed;
  color: grey;
}
.title {
  font-size: 36px;
  font-style: "Bebas Neue", cursive;
  font-family: "M PLUS Code Latin", sans-serif;
  font-weight: 530;
}
.img {
  object-fit: contain;
  margin: auto;
}
.paragraph {
  font-style: "Bebas Neue", cursive;
  font-family: "M PLUS Code Latin", sans-serif;
  font-size: 16px;
  color: rgb(122, 126, 126);

  line-height: 27px;
}
.mediaVectors {
  object-fit: contain;
  cursor: pointer;
}
.divider {
  margin-right: 40px;
}
