.title {
  font-style: "Bebas Neue", cursive;
  font-family: "M PLUS Code Latin", sans-serif;
  font-weight: bold;
  font-size: 45px;
  color: white;
}
.information {
  font-style: "Bebas Neue", cursive;
  font-family: "M PLUS Code Latin", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: white;
}
.informationTitle {
  font-style: "Bebas Neue", cursive;
  font-family: "M PLUS Code Latin", sans-serif;
  font-weight: 500;
  font-weight: bold;
  font-size: 18px;
  color: white;
  margin: auto;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  width: 50vh;
  height: 40vh;
}
.normalHolder {
  height: 39px;
  background: #1e242c;
  border: 0;
  box-sizing: border-box;
  color: #fff;
  display: block;
  font-size: 12pt;
  margin-bottom: 3px;
  outline: none;
  padding: 10px 15px;
}
.bigHolder {
  background: #1e242c;
  border: 0;
  box-sizing: border-box;
  color: #fff;

  font-size: 12pt;
  margin-bottom: 3px;
  outline: none;
  height: 150px;
}
.bigHolder::placeholder {
  text-align: start;
  margin-top: 0px;
  text-align: top;
}
.submitButton {
  display: flex;
  flex-direction: column;
  align-self: flex-end;

  text-align: center;
  background: transparent;
  color: #fff;
  width: 130px;
  font-size: 16pt;
  margin: 5px 0 0 0;
  outline: 0;
  padding: 10px 30px;
  border: 2px solid #fff;
  box-sizing: inherit;
  cursor: pointer;
  display: inline-block;
  transition: all 0.5s;
}
