.title {
  font-style: "Bebas Neue", cursive;
  font-family: "M PLUS Code Latin", sans-serif;
  font-weight: bold;
  font-size: 45px;
  color: white;
}
.information {
  font-style: "Bebas Neue", cursive;
  font-family: "M PLUS Code Latin", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: white;
}
.informationTitle {
  font-style: "Bebas Neue", cursive;
  font-family: "M PLUS Code Latin", sans-serif;
  font-weight: 500;
  font-weight: bold;
  font-size: 18px;
  color: white;
  margin: auto;
}
.form {
  display: flex;
  flex-direction: column;
  width: 40vh;
  height: 40vh;
  justify-content: center;
}
.normalHolder {
  width: 500px;
  height: 39px;
}
.bigHolder {
  background-color: aquamarine;

  text-align: flex start;
  top: 0px;
  width: 500px;
  height: 150px;
}
