.title {
  font-style: "Bebas Neue", cursive;
  font-family: "M PLUS Code Latin", sans-serif;
  font-weight: bold;
  font-size: 45px;
  color: white;
}
.information {
  font-style: "Bebas Neue", cursive;
  font-family: "M PLUS Code Latin", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: white;
}
.informationTitle {
  font-style: "Bebas Neue", cursive;
  font-family: "M PLUS Code Latin", sans-serif;
  font-weight: 500;
  font-weight: bold;
  font-size: 18px;
  color: white;
  margin: auto;
}
