.vertical {
  writing-mode: vertical-lr;
  text-orientation: mixed;
  color: grey;
}
.title {
  font-size: 36px;
  font-style: "Bebas Neue", cursive;
  font-family: "M PLUS Code Latin", sans-serif;
  font-weight: 530;
}
.img {
  width: fit-content;
  margin: auto;
  position: relative;
  margin-left: 10px;
  margin-right: 500px;
}
.paragraph {
  font-style: "Bebas Neue", cursive;
  font-family: "M PLUS Code Latin", sans-serif;
  font-size: 16px;
  color: rgb(122, 126, 126);
}
